<!doctype html>
<html class="h-full">
  <head>
    <%= auto_display_favicon_tags if build? %>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Primary Meta Tags -->
    <title>Amal - Launching soon in Bahrain!</title>
    <meta name="title" content="Amal - Launching soon in Bahrain!">
    <meta name="description" content="It's about time you got your own personal financial assistant! Hurry, early users get FREE access for life">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= config[:url_root] %>%">
    <meta property="og:title" content="Amal - Launching soon in Bahrain!">
    <meta property="og:description" content="It's about time you got your own personal financial assistant! Hurry, early users get FREE access for life">
    <meta property="og:image" content="<%= config[:url_root] + "/" + image_path("images/bh/meta-preview.png") %>">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= config[:url_root] %>%">
    <meta property="twitter:title" content="Amal - Launching soon in Bahrain!">
    <meta property="twitter:description" content="It's about time you got your own personal financial assistant! Hurry, early users get FREE access for life">
    <meta property="twitter:image" content="<%= config[:url_root] + "/" + image_path("images/bh/meta-preview.png") %>">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.25.0/slimselect.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.25.0/slimselect.min.css"> 
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body class="h-full overflow-hidden">
    <%= yield %>
  </body>
</html>
